<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Geolocalización de Buses</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
</head>
<body class="bg-black text-white">

    <nav id="navegacion" class="fixed top-0 right-0 left-0 bg-gray-800 h-16 shadow-lg">
        <h1 class="text-xl font-bold">Geolocalización de Buses</h1>
    </nav>

    <div class="container mx-auto mt-20 p-4">
        <h3 class="text-lg font-semibold mb-2">Selecciona el modo de transporte:</h3>
        <div class="flex items-center mb-4">
            <select id="speedSelector" class="bg-gray-700 text-white p-2 rounded mr-4">
                <option value="40">Automóvil (40 km/h)</option>
                <option value="20">Bicicleta (20 km/h)</option>
                <option value="5">Caminata (5 km/h)</option>
            </select>
            <button onclick="actualizarTiempos()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Actualizar tiempos
            </button>
        </div>

        <h3 id="distanciaTotal" class="text-lg font-semibold mb-4">Distancia total: Calculando...</h3>

        <div id="myMap" class="h-96 rounded-lg shadow-lg"></div>
    </div>
    
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

    <footer class="bg-gray-900 text-white p-4 text-center mt-4">
        <div class="container mx-auto">
            <div class="flex flex-col md:flex-row justify-between items-center">
                <p class="mb-2 md:mb-0">© 2025 BUSAPP. Todos los derechos reservados.</p>
                <div class="flex space-x-4">
                    <a href="#" class="hover:text-gray-400">Política de Privacidad</a>
                    <a href="#" class="hover:text-gray-400">Términos de Servicio</a>
                    <a href="#" class="hover:text-gray-400">Contacto</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="../components/nav.js"></script>
    <script type="module" src="geo.js"></script>
</body>
</html>
