<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Geolocalización de Buses</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
</head>
<body class="bg-black text-white">

    <nav id="navegacion" class="fixed top-0 right-0 left-0 bg-gray-800 h-16 shadow-lg">
    </nav>

    <h3>Selecciona el modo de transporte:</h3>
    <select id="speedSelector">
        <option value="40">Automóvil (40 km/h)</option>
        <option value="20">Bicicleta (20 km/h)</option>
        <option value="5">Caminata (5 km/h)</option>
    </select>
    <button onclick="actualizarTiempos()">Actualizar tiempos</button>

    <h3 id="distanciaTotal">Distancia total: Calculando...</h3>

    <div id="myMap" style="height: 600px"></div>
    
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

    

    <!--<div class="container mx-auto p-4">
        <h1 class="text-3xl font-bold text-center mb-4">Ubicación de los Buses</h1>
        <div id="map" class="w-full h-96 bg-gray-800 rounded-lg shadow-lg"></div>
    </div>-->

    <footer class="bg-gray-900 text-white p-4 text-center"></footer>
    <p>© 2025 BUSAPP. Todos los derechos reservados.</p>
    </footer>

    <script src="../components/nav.js"></script>
    <script type="module" src="geo.js"></script>
</body>
</html>
