<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Home</title>
</head>
<body class="bg-gradient-to-r from-blue-500 to-purple-600 text-gray-900 transition-all duration-500 ease-in-out hover:bg-gradient-to-r hover:from-purple-600 hover:to-blue-500"></body>
    
    <nav id="navegacion" class="fixed top-0 right-0 left-0 bg-black h-16 flex items-center justify-center">
        <h1 class="text-white font-bold text-xl">BUSAPP</h1>
    </nav>

<div class="pt-16 h-screen flex justify-center items-center flex-col md:flex-row gap-4 px-4 lg:w-3/5 mx-auto md:gap-8">

    <h1 class="text-black font-bold text-4xl md:text-7xl">BUSAPP</h1>
    <div>
        <p class="text-justify py-4">Bienvenido a BUSAPP, tu solución integral para la gestión de transporte. Con nuestra aplicación, puedes planificar tus viajes, comprar boletos y recibir actualizaciones en tiempo real sobre el estado de tu transporte. Únete a miles de usuarios que ya disfrutan de una experiencia de viaje más cómoda y eficiente.</p>
        <div class="flex justify-around gap-4">
            <a href="/login/" class="bg-black text-white font-bold px-4 py-2 rounded-lg hover:bg-gray-800 transition ease-in-out">Login</a>
            <a href="/registro/" class="text-black bg-gray-300 font-bold hover:bg-gray-400 px-4 py-2 rounded-lg transition ease-in-out">Registro</a>
        </div> 
    </div>
    

</div>

<footer id="pie" class="bg-gray-900 text-white p-4 text-center mt-4">
    <div class="container mx-auto">
      <div class="flex flex-col md:flex-row justify-between items-center">
          <p class="mb-2 md:mb-0">© 2025 BUSAPP. Todos los derechos reservados.</p>
          <div class="flex space-x-4">
              <a href="#" class="hover:text-gray-400">Política de Privacidad</a>
              <a href="#" class="hover:text-gray-400">Términos de Servicio</a>
              <a href="#" class="hover:text-gray-400">Contacto</a>
          </div>
      </div>
  </div>
  </footer>

    <script src="home.js"></script>
      
</body>
</html>
