<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body class="bg-gray-900 text-white">
    
    <nav id="navegacion" class="fixed top-0 right-0 left-0 bg-gray-800 h-16 shadow-lg">
    </nav>

    <div id="notification" class="fixed top-20 right-0 left-0"></div>

   <div class="pt-20 h-screen px-4 flex max-w-7xl mx-auto justify-center items-center gap-8">
        <form id="formulario" class="flex flex-col gap-6 bg-gray-800 p-6 rounded-lg text-lg lg:w-2/4 shadow-2xl">
            <div class="flex flex-col gap-2">
                <label for="name-input" class="font-bold">
                    Nombre <span class="text-red-500">*</span>
                </label>
                <input 
                type="text"
                id="name-input"
                autocomplete="off"
                placeholder="Rodney Gallardo"
                class="rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-gray-600 bg-gray-700 text-white">
                <p class="text-xs text-gray-400">Este campo es obligatorio</p>
            </div>
            
            <div class="flex flex-col gap-2">
                <label for="email-input" class="font-bold">
                    Email <span class="text-red-500">*</span>
                </label>
                <input 
                type="email"
                id="email-input"
                autocomplete="off"
                placeholder="rodney@gmail.com"
                class="rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-gray-600 bg-gray-700 text-white">
                <p class="text-xs text-gray-400">El correo es obligatorio</p>
            </div>

            <div class="flex flex-col gap-2">
                <label for="password-input" class="font-bold">
                    Password <span class="text-red-500">*</span>
                </label>
                <input 
                type="password"
                id="password-input"
                autocomplete="off"
                class="rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-gray-600 bg-gray-700 text-white">
                <p class="text-xs text-gray-400">Debe tener al menos 1 letra<br>Debe tener al menos una mayúscula<br>Debe tener al menos un número<br>Debe tener entre 8 y 16 caracteres<br>Debe tener al menos un carácter especial</p>
            </div>

            <div class="flex flex-col gap-2">
                <label for="match-input" class="font-bold">
                    Confirmar Password <span class="text-red-500">*</span>
                </label>
                <input 
                type="password"
                id="match-input"
                class="rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-gray-600 bg-gray-700 text-white">
                <p class="text-xs text-gray-400">Debe coincidir con el password</p>
            </div>
            <button id="form-btn" class="bg-gray-700 px-4 rounded-lg font-bold text-white hover:bg-gray-600 py-2 transition ease-in-out">Registrar</button>
        </form>
        <div>
            <img src="/images/registro.svg" alt="imagen de registro" class="max-w-full h-auto">
        </div>
   </div>

   <footer class="bg-gray-900 text-white p-4 text-center"></footer>
    <p>© 2025 BUSAPP. Todos los derechos reservados.</p>
  </footer>

    <script src="../components/nav.js"></script>
    <script type="module" src="registro.js"></script>
    <script type="module" src="../components/notificaciones.js"></script>

</body>


</html>
